/* Reset some default styles */
body, h1, h2, h4, p, ul, li, a {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #fff39a;
    line-height: 1.6;
}

header {
    background-color: #b70000;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width: 200px;
    height:fit-content;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.dashboard {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.dashboard p {
    font-size: 16px;
    margin-bottom: 20px;
}

footer {
    background-color: #b70000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    margin-top: 24%;
}
